* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #121212; /* Темный фон */
  color: #fff;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background: rgba(20, 20, 20, 0.8); /* Полупрозрачный темный фон */
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px;
  width: 400px; /* Увеличен размер карточки */
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.card .img {
  width: 120px; /* Увеличен размер изображения */
  height: 120px;
  background-color: #050505;
  border-radius: 50%;
  margin: 0 auto 20px;
  overflow: hidden;
}

.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card span {
  font-size: 24px; /* Увеличен размер текста */
  font-weight: 700;
  display: block;
  margin-bottom: 15px;
}

.card .info {
  font-size: 16px;
  line-height: 1.6;
  color: #dcdcdc;
}

.share a {
  margin: 0 12px;
}

/* Убираем синюю обводку на ссылках */
a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  outline: none; /* Убираем обводку при фокусе */
}

button {
  height: 50px;
  margin: 5px;
  width: 100px; /* Ширина кнопки, можно настроить */
  background: #333;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  box-shadow: none; /* Убираем свечение по умолчанию */
  outline: none; /* Убираем обводку */
}

/* Свечение только при наведении */
button:hover {
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
}

/* Активное состояние кнопки */
button:active {
  box-shadow: 5px 5px 24px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
}

/* Добавляем стиль для выравнивания кнопок горизонтально */
.share {
  display: flex;
  gap: -3px; /* Расстояние между кнопками */
  justify-content: center; /* Центрируем кнопки */
}

/* Таймер */
.timer {
  position: fixed;
  top: 10px;
  right: 10px;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}

/* Снег */
.snowflake {
  position: fixed;
  top: -10px;
  color: white;
  pointer-events: none;
  z-index: 1000;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}